<div class="col-6 col-md-6 col-lg-4">
  <a href="<%= products_path + '/' + product.id.to_s %>" class="item">
    <img src="<%= product.image_url %>" alt="Image" class="img-fluid">
    <div class="item-info">
      <h3><%= product.name %></h3>
      <span class="collection d-block"><%= product.description %></span>
      <strong class="price">$<%= product.price %></strong>
    </div>
  </a>
</div>